/* Write your CSS here */
.team-matches-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.responsive-container {
  width: 90%;
  max-width: 500px;
  margin-top: 48px;
}
@media screen and (min-width: 768px) {
  .responsive-container {
    margin-top: 96px;
    max-width: 1110px;
  }
}
.team-banner {
  width: 100%;
}

.recent-matches-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .recent-matches-list {
    margin-top: 32px;
  }
}
.rcb {
  background-image: linear-gradient(#a4261d, #1e293b);
}
.kkr {
  background-image: linear-gradient(#5755a7, #1e293b);
}
.kxp {
  background-image: linear-gradient(#d91c1f, #1e293b);
}
.csk {
  background-image: linear-gradient(#f7db00, #1e293b);
}
.rr {
  background-image: linear-gradient(#da237b, #13418b);
}
.mi {
  background-image: linear-gradient(#4f5db0, #1e293b);
}
.sh {
  background-image: linear-gradient(#f26d22, #da237b);
}
.dc {
  background-image: linear-gradient(#13418b, #4f5db0);
}
